version: 2
updates:
  - package-ecosystem: cargo
    directories:
      - /
      # crates with [workspace] table are not recognized by the above 'directory: /'
      - /tests/avr
      - /tests/gba
      - /tests/msp430
      - /tests/no-std-qemu
      - /tests/xtensa
    schedule:
      interval: daily
    commit-message:
      prefix: ''
    ignore:
      # For test on old rustc.
      - dependency-name: crossbeam-utils
    labels: []
    groups:
      cargo:
        patterns:
          - '*'
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    commit-message:
      prefix: ''
    labels: []
    groups:
      github-actions:
        patterns:
          - '*'
